html {
   background-image: url(/Background/Nightcity.png);
   background-repeat: no-repeat;
   background-position: center center;
   background-attachment: fixed;
   background-size: cover;
 }


body {
   display: flex;
   align-items: center;
   justify-content: center;
   height: 97vh;
}

.circular-menu {
   position: relative;
   width: 300px;
   height: 300px;
}

.circular-menu__item {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);

   display: flex;
   align-items: center;
   justify-content: center;
   width: 80px;
   height: 80px;
   border-radius: 50%;
   border: none;
   box-shadow: 0px 0px 10px 1px #000;
   background-color: #000;
   color: #fcf604;
   cursor: pointer;
   transition: 0.3s;
}
.circular-menu__item:hover {
   box-shadow: 0px 0px 10px 1px #fcf604;
}
.circular-menu__item--active {
   background-color: #fcf604;
   color: #000;
   box-shadow: 0px 0px 10px 1px #fcf604;
}

.circular-menu__button {
   position: absolute;
   top: 35%;
   left: 35%;
   content: "";
   width: 90px;
   height: 90px;
   border-radius: 50%;
   border: none;
   box-shadow: 0px 0px 2px 2px #f92841;
   background-image: url('./Background/Samurai.jpg');
   background-size: 90px 90px;
   background-repeat: no-repeat;
   background-position: center center;
   cursor: pointer;
   transition: 0.4s;
   transform: rotate(0deg);
}
.circular-menu__button:hover {
   box-shadow: 0px 0px 4px 4px #bd1e31;
}

.circular-menu__button--active {
   transform: rotate(360deg);
}
